body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-weight: 100;
}
#mainDiv {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  height: calc(100vh - 50px);
  overflow: auto;
}

/*** TITLE  ***/
.ttlWrapSB {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 7px;
  align-items: center;
  background: #000000;
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: 50px;
}
.ttlWrap {
  display: none;
  xdisplay: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 7px;
  align-items: center;
  background: #000000;
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: 50px;
}

.ttl {  
  font-size: 16pt;
  font-weight: 400;
  width: 115px;
  padding: 0 7px;
  text-align: center;
  white-space: nowrap;
}

.btnWrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

button {
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  padding: 2px 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navBtn {
  font-size: 16pt;
}
.navBtn.dn {
  transform: rotate3d(0, -10, 1, 180deg);
}

.backBtn {
}


/*** SuperBowl Mode  ***/
.sbWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
  padding-top: 10px;
}
.sbSubTtl {
  font-size: 9pt;
}
.sbGameWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sbWrap .gameWrap {
  border: 1px solid #d3d3d3;
  margin: 7px;
  padding: 3px;
  border-radius: 4px;
}

/*** Playoff Mode  ***/
.confWrap {
  display: grid;
  position: relative;
  padding: 4px;
  border-radius: 4px;
}

.confWrap:before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: .065;
}
.confWrap.AFC:before {
  background-image: url('img/AFC.png');
}
.confWrap.NFC:before {
  background-image: url('img/NFC.png');
}
.confWrap.AFC {
  grid-row: 1;
  background: #ff000005;
}
.confWrap.AFC .Conference {
  grid-row: 3;
}
.confWrap.AFC .Division {
  grid-row: 2;
}
.confWrap.AFC .Wildcard {
  grid-row: 1;
}
.confWrap.NFC {
  grid-row: 3;
  background: #0072ff05;
}
.confWrap.NFC .Conference {
  grid-row: 1;
}
.confWrap.NFC .Division {
  grid-row: 2;
}
.confWrap.NFC .Wildcard {
  grid-row: 3;
}
.confWrap.SB {
  display: grid;
  grid-row: 2;
}

.poWrap {
  display: grid;
  width: 100vw;
  overflow: auto;
  padding-top: 10px;
}
.roundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roundWrap {
  display: flex;
}
.gameWrap {
  display: block;
  margin: 0 7px;
}

.teamContainer {
  display: inline-block;
}

.poImg {
  height: 30px;
}

.teamWrap {
  display: block;
  background: #0000000a;
  border-radius: 4px;
  padding: 2px;
  height: 26px;
  width: 41px;
  white-space: nowrap;
  overflow: hidden;
  xbox-shadow: -1px 1px 1px #d9d9d9db;
}
.confWrap.AFC .teamWrap {
  background: #ff00000f;
  border: 1px solid #ff040447;
}
.confWrap.NFC .teamWrap {
  background: #0800ff0f;
  border: 1px solid #0000ff26
}

.teamSeed {
  display: inline-block;
  vertical-align: top;
  height: 12px;
  width: 12px;
  background: #0c00ff;
  color: #fff;
  font-size: 8px; 
  text-align: center;
  font-weight: 400;
  line-height: 12px;
  border-radius: 10px; 
}
.teamIcon {
  display: inline-block;
  transform: translate(-11px, 2px);
}
.teamRecord {
  display: inline-block;
  transform: translate(-28px, 0px);
  vertical-align: top;
  font-size: 6pt;
  font-weight: 300;
  text-shadow: 0px 0px 1px #d9cbcb;
}

.scoreWrap {
  width: 45px;
  font-weight: 500;
  color: #00000087;
  text-align: center;
}