body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-weight: 100;
}
#mainDiv {
   display: flex;
   justify-content: center; 
}
.ttlWrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 7px;
  align-items: center;
  margin-bottom: 15px;
  background: #000000;
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: 50px;
}
.ttlWrap button {
  line-height: 21pt;
  font-size: 21pt;
}
.ttl {  
  font-size: 16pt;
  font-weight: 400;
  width: fit-content !important;
  padding: 0 4px;
  text-align: center;
  white-space: nowrap;
}

.confWrap:before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: .1;
}
.confWrap.AFC:before {
  background-image: url('img/AFC.png');
}
.confWrap.NFC:before {
  background-image: url('img/NFC.png');
}
.confWrap.AFC {
  display: grid;
  grid-row: 1;
  background: #ff000005;
  position: relative;
}
.confWrap.AFC .Conference {
  grid-row: 3;
}
.confWrap.AFC .Division {
  grid-row: 2;
}
.confWrap.AFC .Wildcard {
  grid-row: 1;
}
.confWrap.NFC {
  display: grid;
  grid-row: 3;
  background: #0072ff05;
  position: relative;
}
.confWrap.NFC .Conference {
  grid-row: 1;
}
.confWrap.NFC .Division {
  grid-row: 2;
}
.confWrap.NFC .Wildcard {
  grid-row: 3;
}
.confWrap.SB {
  display: grid;
  grid-row: 2;
}

.poWrap {
  display: grid;
  width: fit-content;
}
.roundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roundWrap {
  display: flex;
}
.gameWrap {
  display: block;
  margin: 0 7px;
}

.teamContainer {
  display: inline-block;
}

.poImg {
  height: 30px;
}

.teamWrap {
  display: block;
  background: #0000000a;
  border-radius: 4px;
  padding: 2px;
  height: 26px;
  width: 41px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: -1px 1px 1px #d9d9d9db;
}
.confWrap.AFC .teamWrap {
  background: #ff00000f;
}
.confWrap.NFC .teamWrap {
  background: #0800ff0f;
}

.teamSeed {
  display: inline-block;
  vertical-align: top;
  height: 12px;
  width: 12px;
  background: #0c00ff;
  color: #fff;
  font-size: 8px; 
  text-align: center;
  font-weight: 400;
  line-height: 12px;
  border-radius: 10px; 
}
.teamIcon {
  display: inline-block;
  transform: translate(-11px, 2px);
}
.teamRecord {
  display: inline-block;
  transform: translate(-28px, 0px);
  vertical-align: top;
  font-size: 6pt;
  font-weight: 300;
  text-shadow: 0px 0px 1px #d9cbcb;
}

.scoreWrap {
  width: 45px;
  font-weight: 500;
  color: #00000087;
  text-align: center;
}